{
  "openapi": "3.1.0",
  "info": {
    "title": "GitHub Chart Builder",
    "version": "0.0.0",
    "description": "Generate customizable SVG GitHub contribution charts. One image endpoint + one repo-list endpoint + OAuth login.",
    "license": { "name": "MIT", "url": "https://github.com/reazndev/github-chart-builder/blob/main/LICENSE" }
  },
  "servers": [{ "url": "https://gh.ruu.by" }],
  "paths": {
    "/api/github-contributions/{username}": {
      "get": {
        "operationId": "getContributionsSvg",
        "summary": "SVG contribution chart",
        "parameters": [
          { "name": "username", "in": "path", "required": true, "schema": { "type": "string" }, "example": "reazndev" },
          { "name": "months", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 48, "default": 12 } },
          { "name": "from", "in": "query", "schema": { "type": "string", "format": "date" }, "example": "2024-01-01" },
          { "name": "to", "in": "query", "schema": { "type": "string", "format": "date" } },
          { "name": "repo", "in": "query", "schema": { "type": "string" }, "example": "facebook/react,vercel/next.js" },
          { "name": "boxSize", "in": "query", "schema": { "type": "number", "default": 12 } },
          { "name": "boxSpacing", "in": "query", "schema": { "type": "number", "default": 3 } },
          { "name": "borderRadius", "in": "query", "schema": { "type": "number", "default": 3 } },
          { "name": "backgroundColor", "in": "query", "schema": { "type": "string", "default": "transparent" } },
          { "name": "inactiveColor", "in": "query", "schema": { "type": "string", "default": "#ebedf0" } },
          { "name": "minActivityColor", "in": "query", "schema": { "type": "string", "default": "#9be9a8" } },
          { "name": "maxActivityColor", "in": "query", "schema": { "type": "string", "default": "#216e39" } },
          { "name": "labelColor", "in": "query", "schema": { "type": "string", "default": "#24292f" } },
          { "name": "showLabels", "in": "query", "schema": { "type": "boolean", "default": true } },
          { "name": "showYears", "in": "query", "schema": { "type": "boolean", "default": false } },
          { "name": "ignoreOutliers", "in": "query", "description": "Clip color scale to 98th percentile", "schema": { "type": "boolean", "default": false } },
          { "name": "token", "in": "query", "description": "Encrypted OAuth payload only, never a raw PAT", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "SVG image", "content": { "image/svg+xml": { "schema": { "type": "string" } } } },
          "500": { "description": "Error", "content": { "application/json": { "schema": { "type": "object" } } } }
        }
      }
    },
    "/api/github-repos/{username}": {
      "get": {
        "operationId": "listRepos",
        "summary": "Repo names for autocomplete",
        "parameters": [
          { "name": "username", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "token", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "nameWithOwner array", "content": { "application/json": { "schema": { "type": "array", "items": { "type": "string" } } } } }
        }
      }
    },
    "/api/auth/github": {
      "get": {
        "operationId": "oauthLogin",
        "summary": "Start GitHub OAuth (private repos)",
        "responses": { "302": { "description": "Redirect to github.com login" } }
      }
    },
    "/api/themes": {
      "get": {
        "operationId": "listThemes",
        "summary": "List community themes",
        "responses": {
          "200": { "description": "Theme array", "content": { "application/json": { "schema": { "type": "array", "items": { "type": "object" } } } } }
        }
      },
      "post": {
        "operationId": "submitTheme",
        "summary": "Submit a theme (3/hour, 10 total per browser)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "inactiveColor", "minActivityColor", "maxActivityColor", "clientId"],
                "properties": {
                  "name": { "type": "string", "example": "forest dusk" },
                  "author": { "type": "string" },
                  "inactiveColor": { "type": "string", "example": "#ebedf0" },
                  "minActivityColor": { "type": "string", "example": "#9be9a8" },
                  "maxActivityColor": { "type": "string", "example": "#216e39" },
                  "clientId": { "type": "string", "description": "Anonymous browser id, salted+hashed server-side" }
                }
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Created" },
          "400": { "description": "Invalid input" },
          "409": { "description": "Duplicate name" },
          "429": { "description": "Rate limited" }
        }
      }
    },
    "/api/themes/{id}/like": {
      "post": {
        "operationId": "likeTheme",
        "summary": "Like a theme (one per browser)",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "required": ["clientId"], "properties": { "clientId": { "type": "string" } } } } }
        },
        "responses": {
          "200": { "description": "Liked" },
          "404": { "description": "Not found" },
          "409": { "description": "Already liked" },
          "429": { "description": "Rate limited" }
        }
      }
    }
  },
  "x-presets": {
    "github": { "inactiveColor": "#ebedf0", "minActivityColor": "#9be9a8", "maxActivityColor": "#216e39" },
    "sunset": { "inactiveColor": "#ffe5e5", "minActivityColor": "#ff9a76", "maxActivityColor": "#d62828" },
    "ocean": { "inactiveColor": "#e0f2fe", "minActivityColor": "#7dd3fc", "maxActivityColor": "#0369a1" },
    "purple": { "inactiveColor": "#ececf0", "minActivityColor": "#e8cb38", "maxActivityColor": "#5649cc" },
    "midnight": { "inactiveColor": "#1a1f2e", "minActivityColor": "#4a5568", "maxActivityColor": "#3b82f6" },
    "candy": { "inactiveColor": "#fce4ec", "minActivityColor": "#f06292", "maxActivityColor": "#ad1457" },
    "monochrome": { "inactiveColor": "#f5f5f5", "minActivityColor": "#9e9e9e", "maxActivityColor": "#212121" },
    "amber": { "inactiveColor": "#fff8e1", "minActivityColor": "#ffb300", "maxActivityColor": "#e65100" },
    "catppuccin": { "inactiveColor": "#313244", "minActivityColor": "#a6e3a1", "maxActivityColor": "#cba6f7" },
    "dracula": { "inactiveColor": "#282a36", "minActivityColor": "#8be9fd", "maxActivityColor": "#bd93f9" },
    "nord": { "inactiveColor": "#2e3440", "minActivityColor": "#8fbcbb", "maxActivityColor": "#88c0d0" },
    "gruvbox": { "inactiveColor": "#282828", "minActivityColor": "#b8bb26", "maxActivityColor": "#fe8019" },
    "tokyo night": { "inactiveColor": "#16161e", "minActivityColor": "#7aa2f7", "maxActivityColor": "#bb9af3" }
  }
}
